@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3f72af;
  height: 100vh; }

/*btns*/
#btn_todo_del,
#btn_todo,
.btn_todo_edit {
  cursor: pointer;
  font-size: 20px;
  padding: 8px 16px;
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px; }

#btn_todo_del,
.btn_todo_edit,
.btn_todo_save {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #e0e5ea;
  padding: 8px 10px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #btn_todo_del:hover,
  .btn_todo_edit:hover,
  .btn_todo_save:hover {
    background-color: #e0e5ea;
    opacity: 1; }
  #btn_todo_del:active,
  .btn_todo_edit:active,
  .btn_todo_save:active {
    border: 2px solid #000; }

/*btns*/
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }

.main_inner {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 50px 85px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.6);
          box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.6);
  margin-top: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .main_inner h1 {
    padding-bottom: 15px;
    text-align: center; }
  .main_inner .func_bn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 15px; }
    .main_inner .func_bn #input_todo {
      width: 100%;
      padding: 13px 10px 14px;
      font-weight: 400;
      border: none;
      outline: none;
      background-color: #f3f3f3;
      border-radius: 10px;
      font-size: 18px; }
      .main_inner .func_bn #input_todo:focus,
      .main_inner .func_bn #input_todo #btn_todo:active {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: none;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
      .main_inner .func_bn #input_todo::-webkit-input-placeholder {
        font-size: 18px;
        line-height: 22px;
        color: #5a5a5a;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo:-ms-input-placeholder {
        font-size: 18px;
        line-height: 22px;
        color: #5a5a5a;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo::-ms-input-placeholder {
        font-size: 18px;
        line-height: 22px;
        color: #5a5a5a;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo::placeholder {
        font-size: 18px;
        line-height: 22px;
        color: #5a5a5a;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo:focus::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo:focus:-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo:focus::-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .main_inner .func_bn #input_todo:focus::placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
  .main_inner #todos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px; }
    .main_inner #todos p {
      text-align: center; }
    .main_inner #todos .todo_task {
      position: relative;
      cursor: default;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 10px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-shadow: 0 0 10px 5px #dddddd;
              box-shadow: 0 0 10px 5px #dddddd;
      padding: 10px;
      border-radius: 5px; }
      .main_inner #todos .todo_task .todos_item {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000; }
      .main_inner #todos .todo_task .input_edit {
        font-family: "Montserrat", sans-serif;
        padding: 6px;
        font-weight: 400;
        border: none;
        outline: none;
        font-size: 16px;
        background-color: #f3f3f3;
        border-radius: 5px;
        color: #5a5a5a; }
        .main_inner #todos .todo_task .input_edit:focus {
          color: #111;
          background-color: #fff;
          border-color: #80bdff;
          outline: none;
          -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
      .main_inner #todos .todo_task .input_edit {
        display: none; }
      .main_inner #todos .todo_task .btn_todo_edit,
      .main_inner #todos .todo_task #btn_todo_del,
      .main_inner #todos .todo_task .btn_todo_save {
        position: absolute;
        padding: 5px 5px;
        font-size: 16px;
        right: 50px; }
      .main_inner #todos .todo_task #btn_todo_del {
        right: 10px; }
      .main_inner #todos .todo_task .btn_todo_save {
        display: none;
        width: 50px;
        font-weight: 600; }
        .main_inner #todos .todo_task .btn_todo_save:active {
          border: 2px solid #000;
          background-color: #90ee90; }
    .main_inner #todos .todo_task_complete .todos_item {
      text-decoration: line-through;
      color: #5a5a5a; }
    .main_inner #todos .todo_checkbox input {
      display: none; }
      .main_inner #todos .todo_checkbox input:checked + div::after {
        display: block; }
    .main_inner #todos .todo_checkbox div {
      cursor: pointer;
      position: relative;
      height: 28px;
      width: 28px;
      border: 1px solid #3f72af;
      border-radius: 8px; }
      .main_inner #todos .todo_checkbox div::after {
        display: none;
        text-align: center;
        content: "✔️";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
